@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;

    height: 100vh;

    background: url('../assets/greeting_bg.svg') top;
    object-fit: cover;
    background-size: 100%;
}

.greeting h1 {
    margin-bottom: 12px;

    color: white;
}

.greeting h2 {
    color: #FFFFFFB2;
}

@media only screen and (max-width: 768px){
    .greeting {
        background-size: auto;
        height: 50rem;
    }
}