.learn-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    height: 100%;
    padding: 6rem 0;
    background: url('../assets/learn-more_bg.svg') center;
    background-size: 100%;
}

.learn-more h1 {
    color: white
}

.learn-more h2 {
    color: white
}

.learn-more button {
    height: 150px;
    width: 150px;

    padding: 10px 0 0 12px;
    color: white;

    font-size: 100px;

    border-radius: 100px;
    background: #39C2D7;
}

@media only screen and (max-width: 768px) {
    .learn-more {
        background-size: auto;
    }

    .learn-more button {
        height: 100px;
        width: 100px;

        padding: 5px 0 0 8px;
        color: white;

        font-size: 50px;

        border-radius: 100px;
        background: #39C2D7;
    }

}