@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

section, .footer {
    width: 100%;
}

h1, h2, p {
    text-align: center;
}

h2, p {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 48px;
    font-family: 'Oswald', sans-serif;
    line-height: 64px;
}

h2 {
    font-size: 24px;
    font-weight: 100;
    line-height: 32px;
}

p {
    font-size: 16px;
    line-height: 22px;
}